@model MVC_Form_Processing.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="firstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="lastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="birthDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="birthDate" class="form-control" />
                <span asp-validation-for="birthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="age" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="datetime" asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

